/*---Three-section---*/
.intro-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.intro-row--product {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.intro-row--icon {
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.intro-column {
	text-align: center;
    width: 32%;
}
.column-two {
	width: 49%;
}
.reviews-wrapper {
	margin-bottom: -30px;
}
.reviews-wrapper-intro {
	margin-bottom: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 30px;
}
.block-shadow {
	-webkit-box-shadow: 0 0px 20px 0 rgba(0,0,0,0.14);
	        box-shadow: 0 0px 20px 0 rgba(0,0,0,0.14);
}
.svg-size {
	height: 145px;
	width: 145px;
}
.img-size {
	height: 450px;
	/* width: 380px;*/
}
.img-reviews {
	display: block;
	width: 107px;
	height: 107px;
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	margin-right: 40px;        
}
.image-container {
	-webkit-background-size: 100% 100%;
	        background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto 1.875em;
}
.subtitle {
	text-transform: uppercase;
	font-family: $font-primary;
	font-weight: $semibold;
	&--wrapper {
	margin-bottom: 20px;
    }
    &--product {
    color: $primary-color;
    }
    &--win {
	background-color: $windows-block;
	color: #ffffff;
	padding: 25px 0;
    }
}
.description {
	color: $text-content;
	font-size: 17px;
	font-weight: $light;
	padding-right: 10px;
	padding-left: 10px;
	&--prod {
		padding-bottom: 30px;
    }
    &--border {
	border-top: 1px solid #f5f5f6;
	padding-top: 40px;
	padding-bottom: 40px;
    }
     &--reviews {
    	font-style: italic;
    	padding: 0px;
    	margin-bottom: 15px;
    }
    &--reviews-name {
    	margin-bottom: 5px;
    	font-weight: $regular;
    	padding: 0;
    }
    &--reviews-prof {
    	font-weight: $regular;
    	padding: 0;
    }
}

@media screen and (max-width: 767px) {
	.intro-column {
    	display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 30px;
	    width: 100%;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	        -ms-flex-align: center;
	            align-items: center;
    }
    .svg-container {
    	margin: 0 auto;
    	height: 120px;
    	width: 120px;
    }
    .title-wrapper {
    	text-align: left;
    	padding-left: 30px;
    	-webkit-box-align: center;
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-webkit-flex-direction: column;
    	    -ms-flex-direction: column;
    	        flex-direction: column;    
    }
}
@media screen and (max-width: 480px) {
	.intro-column {
		display: block;
		margin-bottom: 10px;
	    width: 100%;
    }
}

