/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* My addition*/
a {
  text-transform: uppercase;
  text-decoration: none; }

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');*/
/* Grid*/
.page-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px; }

.page-row {
  padding: 100px 0; }

@media screen and (max-width: 767px) {
  .page-row {
    padding: 80px 0; } }

@media screen and (max-width: 480px) {
  .page-row {
    padding: 70px 0; } }

/*---Base Style---*/
.font-base {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400; }

/*---Clearfix---*/
.clearfix::before, .clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  clear: both;
  *zoom: 1; }

/*---Box-sizing---*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*---Title-block---*/
.headline {
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: #333c4e;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 500; }

.headline-title {
  font-size: 36px;
  margin-bottom: 30px; }

.headline-title--intro {
  margin-top: 80px; }

.headline-subtitle {
  font-size: 22px; }

@media (min-width: 768px) and (max-width: 991px) {
  .headline-title {
    font-size: 34px; }
  .headline-subtitle {
    font-size: 24px; } }

@media screen and (max-width: 767px) {
  .headline-title {
    font-size: 30px; }
  .headline-subtitle {
    font-size: 20px; } }

@media screen and (max-width: 480px) {
  .headline-title {
    font-size: 26px; }
  .headline-subtitle {
    display: none; }
  .headline {
    margin-bottom: 40px; } }

/*---Three-section---*/
.intro-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.intro-row--product {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.intro-row--icon {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.intro-column {
  text-align: center;
  width: 32%; }

.block-shadow {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.14); }

.svg-size {
  height: 145px;
  width: 145px; }

.img-size {
  height: 450px;
  /* width: 380px;*/ }

.image-container {
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto 1.875em; }

.subtitle {
  text-transform: uppercase;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 600; }

.subtitle--wrapper {
  margin-bottom: 20px; }

.subtitle--product {
  color: #3871d3; }

.subtitle--win {
  background-color: #85aae9;
  color: #ffffff;
  padding: 25px 0; }

.description {
  color: #6b707b;
  font-size: 17px;
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px; }

.description--border {
  border-top: 1px solid #f5f5f6;
  padding-top: 40px;
  padding-bottom: 40px; }

.description--prod {
  padding-bottom: 30px; }

@media screen and (max-width: 767px) {
  .intro-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .svg-container {
    margin: 0 auto;
    height: 120px;
    width: 120px; }
  .title-wrapper {
    text-align: left;
    padding-left: 30px;
    -webkit-box-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media screen and (max-width: 480px) {
  .intro-column {
    display: block;
    margin-bottom: 10px;
    width: 100%; } }

/*-----Header-----*/
.header-container {
  background-color: #3871d3; }

.header {
  padding: 1.125em 0;
  border-bottom: 1px solid #3268c3; }

.navbar-wrapper {
  overflow: hidden;
  position: relative; }

.header-logo {
  float: left;
  margin-right: 10px; }

.header-logo--link {
  display: block;
  width: 220px;
  height: 40px;
  background-image: url("../img/logo-2.svg");
  background-repeat: no-repeat; }

.header-info {
  float: left;
  color: #b3cdfa;
  font-size: 14px;
  line-height: 20px; }

.header-info--city, .header-info--phone {
  display: block; }

/* Menu*/
.header-nav {
  float: right; }

.navbar-list--item {
  line-height: 39px;
  display: inline-block;
  padding: 0 10px;
  /* &:hover {border-bottom: 3px solid $green;}*/ }

.navbar-list--link {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff; }
  .navbar-list--link:hover {
    color: #e6e6e6; }

/*Navbar-mobile*/
.header-mobile {
  position: relative;
  display: none;
  border-bottom: 1px solid #3268c3;
  color: #e6e6e6;
  font-size: 14px; }

.phone-one {
  float: left;
  padding: 10px 0; }

.phone-two {
  float: right;
  padding: 10px 0; }

.mobile-icon {
  position: absolute;
  cursor: pointer;
  background-image: url("../img/phone.svg");
  width: 50px;
  height: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -10px; }

/* Button top*/
.btn-top {
  color: #fff;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 40px;
  bottom: 20px;
  padding: 5px 10px;
  background-color: #4acc8e;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none; }

/* Button menu*/
.header-btn {
  float: right;
  padding: 12px 14px;
  background-color: #e64a1a;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24); }
  .header-btn:hover {
    background-color: #ff9574; }

.btn--link {
  color: #fff;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px; }

.navbar-row {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer; }

/*Toggle*/
.navbar-toggle {
  display: none;
  width: 30px;
  height: 14px;
  position: relative;
  cursor: pointer; }
  .navbar-toggle .navbar-toggle--icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0px;
    background-color: #fff; }

.navbar-toggle--icon:nth-child(1) {
  top: 0px; }

.navbar-toggle--icon:nth-child(2) {
  top: 6px; }

.navbar-toggle--icon:nth-child(3) {
  top: 12px; }

/*-----Mobile header-----*/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-list {
    display: none; }
  .header-btn {
    display: none; }
  .navbar-toggle {
    display: block; }
  .header-mobile {
    display: none; } }

@media screen and (max-width: 767px) {
  .header-btn, .navbar-list {
    display: none; }
  .navbar-toggle {
    display: block; }
  .header-mobile {
    display: none; } }

@media screen and (max-width: 480px) {
  .header {
    padding: 0.75em 0; }
  .header-logo--link {
    width: 195px;
    height: 35px; }
  .header-btn, .header-info, .navbar-list {
    display: none; }
  .navbar-toggle {
    display: block; }
  .header-mobile {
    display: block; } }

/* Banner block*/
.hero {
  width: 100%;
  background: url("../img/banner-desktop.jpg") no-repeat 50%;
  -webkit-background-size: cover;
  background-size: cover; }

.hero-wrapper {
  padding-top: 170px;
  padding-bottom: 100px; }

.hero-cta {
  text-align: center; }

.hero-cta {
  margin-bottom: 50px;
  color: #fff; }
  .hero-cta h1 {
    font-size: 48px;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px; }
  .hero-cta p {
    font-size: 40px;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-weight: 400; }

.hero-form-wrapper {
  margin: 0 auto;
  max-width: 585px; }

.hero-form-title {
  padding: 0 52px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #e6e6e6;
  font-family: "Roboto", "Open Sans", sans-serif;
  line-height: 1.5; }

.form-input {
  padding-top: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.input {
  color: #333c4e;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 14px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.input--hero {
  margin-right: 5px;
  min-width: 248px;
  padding: 12px 130px 12px 10px; }

.button {
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.button-action {
  background-color: #4acc8e; }
  .button-action:hover {
    background-color: #71deaa; }

.button-action--hero {
  padding: 12px 35px; }

/*-----Mobile banner-----*/
@media (min-width: 768px) and (max-width: 991px) {
  .hero-wrapper {
    padding-top: 155px;
    padding-bottom: 100px; }
  .hero-cta h1 {
    font-size: 46px; }
  .hero-cta p {
    font-size: 36px; } }

@media screen and (max-width: 767px) {
  .hero {
    background: url("../img/banner-tablet.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .hero-wrapper {
    padding-top: 80px;
    padding-bottom: 80px; }
  .hero-cta h1 {
    font-size: 40px; }
  .hero-cta p {
    font-size: 26px; }
  .hero-form-title {
    padding: 0 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1; }
  .input--hero {
    padding: 12px 200px 12px 10px;
    margin: 0 0 10px; }
  .button-action--hero {
    padding: 12px 120px; } }

@media screen and (max-width: 480px) {
  .hero {
    background: url("../img/banner-mobile.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .hero-wrapper {
    padding-top: 60px;
    padding-bottom: 70px; }
  .hero-cta {
    margin-bottom: 30px; }
    .hero-cta h1 {
      font-size: 34px;
      margin-bottom: 10px; }
    .hero-cta p {
      font-size: 22px; }
  .hero-form-title {
    padding: 0 25px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1; }
  .form-input {
    padding-top: 15px; }
  .input--hero {
    padding: 12px 90px 12px 10px;
    margin: 0 0 10px; }
  .button-action--hero {
    padding: 12px 65px; } }

.benefit-container {
  background-color: #f6f8fb; }

.icon-quality {
  background-image: url("../img/quality.svg"); }

.icon-montag {
  background-image: url("../img/montag.svg"); }

.icon-zamer {
  background-image: url("../img/zamer.svg"); }

.windows-container {
  background-color: #ffffff; }

.img-standart {
  background-image: url("../img/foto-58(380-450).jpg");
  margin-bottom: 0; }

.img-optima {
  background-image: url("../img/foto-70(380-450).jpg");
  margin-bottom: 0; }

.img-premium {
  background-image: url("../img/foto-88(380-450).jpg");
  margin-bottom: 0; }

.table-container {
  width: 100%;
  border-collapse: collapse; }

td {
  color: #6b707b;
  padding: 20px 0 20px 30px;
  border-bottom: 1px solid #f5f5f6; }

.balkon-container {
  background-color: #f6f8fb; }

.img-steklo {
  background-image: url("../img/balkon-steklo.jpg"); }

.img-otdelka {
  background-image: url("../img/balkon-otdelka.jpg"); }

.img-francuz {
  background-image: url("../img/balkon-francuz.jpg"); }

.banner-wrapper {
  padding: 70px 0; }

.form {
  margin: 0 auto;
  max-width: 455px; }

.form-order-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.banner-button {
  padding-top: 15px; }

.button-action--banner {
  padding: 12px 69px; }

.input--banner {
  padding: 12px; }

.form-name {
  margin-right: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 225px;
  -ms-flex: 1 0 225px;
  flex: 1 0 225px; }

.form-phone {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 225px;
  -ms-flex: 1 0 225px;
  flex: 1 0 225px; }

.doors-container {
  background-color: #ffffff; }

.img-pvs {
  background-image: url("../img/doors-pvs.jpg"); }

.img-alum {
  background-image: url("../img/doors-alum.jpg"); }

.img-metal {
  background-image: url("../img/doors-metal.jpg"); }

.reviews-container {
  background-color: #f6f8fb; }

.map-container {
  background-color: #f6f8fb; }

#map {
  width: 100%;
  height: 400px;
  margin: 0 auto; }
