/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* My addition*/
a {
  text-transform: uppercase;
  text-decoration: none; }

/*---Base Style---*/
.font-base {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400; }

/* Grid*/
.container {
  max-width: 1200px;
  margin: 0 auto; }

/* Clearfix*/
.clearfix::before, .clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  clear: both;
  *zoom: 1; }

/* Box-sizing*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*-----Header-----*/
.header-block {
  background-color: #4183f3; }

.logo-block {
  float: left;
  padding: 22px 0 22px 0; }

.logo-block--link {
  display: block;
  width: 220px;
  height: 30px;
  background-image: url("../img/logo-alliance-white.svg");
  background-repeat: no-repeat;
  border-right: 1px solid #3873d8; }

.logo-link--text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  top: auto;
  width: 1px; }

.info-block {
  float: left;
  padding: 20px 0 20px 20px;
  color: #fff; }

.info-block--city, .info-block--phone {
  display: block; }

.info-block--phone {
  padding-top: 5px; }

/* Menu*/
.menu-block {
  float: left;
  padding-left: 175px; }

.menu-list--item {
  display: inline-block;
  padding: 0 15px;
  /* border-bottom: 4px solid $green;*/
  height: 74px; }

.menu-item--link {
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.025em;
  font-size: 15px;
  color: #b3cdfa;
  line-height: 74px; }
  .menu-item--link:hover {
    color: #fff; }

/* Button*/
.btn-block {
  float: right;
  padding: 12px 14px;
  background-color: #e64a1a;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24); }
  .btn-block:hover {
    background-color: #f84109; }

.btn-block--link {
  color: #fff;
  font-family: "Lato", "Open Sans", sans-serif;
  font-weight: 400; }

/*Toggle*/
.menu-block--toggle {
  display: none;
  width: 22px;
  height: 14px;
  position: relative;
  cursor: pointer; }

.menu-toggle--icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.menu-toggle--icon:nth-child(1) {
  top: 0px; }

.menu-toggle--icon:nth-child(2), .menu-toggle--icon:nth-child(3) {
  top: 6px; }

.menu-toggle--icon:nth-child(4) {
  top: 12px; }

/* Open menu mobile*/
.menu-block.menu_state_open .menu-toggle--icon:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu-block.menu_state_open .menu-toggle--icon:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-block.menu_state_open .menu-toggle--icon:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-block.menu_state_open .menu-toggle--icon:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu-block.menu_state_open .menu-main-nav {
  opacity: 1; }

/*-----Mobile header-----*/
@media screen and (max-width: 480px) {
  .btn-block, .info-block {
    display: none; }
  .menu-block {
    padding: 25px 10px 25px 0;
    float: right; }
  .menu-block--toggle {
    display: block; }
  .logo-block {
    padding: 18px 0 18px 10px; }
  .menu-main-block {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
    opacity: 0; }
  .menu-main--link {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff; } }

@media screen and (max-width: 767px) {
  .menu-main-block, .btn-block, .info-block {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .menu-main-block, .btn-block, .info-block {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .menu-main-block, .btn-block, .info-block {
    display: none; } }

/* Banner block*/
.banner-foto {
  width: 100%; }
