.balkon-container {
	background-color: $benefit-table;
}
.img-steklo {
	background-image: url("../img/balkon-steklo.jpg");
}
.img-otdelka {
	background-image: url("../img/balkon-otdelka.jpg");
}
.img-francuz {
	background-image: url("../img/balkon-francuz.jpg");
}