/* Banner block*/
.hero {
	width: 100%;
	background: url("../img/banner-desktop.jpg") no-repeat 50%;
	-webkit-background-size: cover;
	        background-size: cover;
}
.hero-wrapper {
	padding-top: 170px;
	padding-bottom: 100px;
}	
.hero-cta {
	text-align: center;
}
.hero-cta {
	margin-bottom: 50px;
	color: #fff;
		h1 {
			font-size: $font-action;
			font-family: $font-primary;
			font-weight: $semibold;
			line-height: 1;
			margin-bottom: 15px;
		}
		p {
			font-size: $font-sec-action;
			font-family: $font-primary;
			font-weight: $regular;
		}
}
.hero-form-wrapper {
	margin: 0 auto;
	max-width: 585px;
}
.hero-form-title {
	padding: 0 52px;
	text-align: center;
	font-weight: $regular;
	font-size: 18px;
	color: $white-hidden;
	font-family: $font-sec;
	line-height: 1.5;
}
.form-input {
	padding-top: 22px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;        
}
.input {
	color: #333c4e;
	font-family: $font-primary;
	font-size: 14px;
	border: none;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.input--hero {
	margin-right: 5px;
	min-width: 248px;
	padding: 12px 130px 12px 10px;
}
.button {
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-family: $font-primary;
	font-weight: $bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border: none;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.button-action {
	background-color: $green;
		&:hover {background-color: $hover-green;}
}
.button-action--hero {
	padding: 12px 35px;
}
/*-----Mobile banner-----*/

@media (min-width: 768px) and (max-width: 991px) {
	.hero-wrapper {
		padding-top: 155px;
	    padding-bottom: 100px;
    }	
	.hero-cta {
		h1 {
			font-size: $font-action-tablet;
		}
		p {
			font-size: $font-sec-action-tablet;
		}
	}
}
@media screen and (max-width: 767px) {
	.hero {
		background: url("../img/banner-tablet.jpg") no-repeat;
		-webkit-background-size: cover;
		        background-size: cover;
	}
	.hero-wrapper {
		padding-top: 80px;
	    padding-bottom: 80px;
    }	
	.hero-cta {
		h1 {
			font-size: $font-sec-action;
		}
		p {
			font-size: 26px;
		}
	}
	.hero-form-title {
		padding: 0 40px;
		font-weight: $light;
		font-size: 16px;
		line-height: 1;
	}
	.input--hero {
		padding: 12px 200px 12px 10px;
		margin: 0 0 10px;
	}
	.button-action--hero {
		padding: 12px 120px;
	}
}
@media screen and (max-width: 480px) {
	.hero {
		background: url("../img/banner-mobile.jpg") no-repeat;
		-webkit-background-size: cover;
		        background-size: cover;
	}
	.hero-wrapper {
		padding-top: 60px;
		padding-bottom: 70px;
	}	
	.hero-cta {
		margin-bottom: 30px;
		h1 {
			font-size: 34px;
			margin-bottom: 10px;
		}
		p {
			font-size: $font-title-sec;
		}
	}
	.hero-form-title {
		padding: 0 25px;
		font-weight: $light;
		font-size: 16px;
		line-height: 1;
	}
	.form-input {
		padding-top: 15px;
	}
	.input--hero {
		padding: 12px 90px 12px 10px;
		margin: 0 0 10px;
	}
	.button-action--hero {
		padding: 12px 65px;
	}		
}