.benefit-container {
	background-color: $benefit-table;
}
.icon-quality {
	background-image: url("../img/quality.svg");
}
.icon-montag {
	background-image: url("../img/montag.svg");
}
.icon-zamer {
	background-image: url("../img/zamer.svg");
}
