.benefit-block {
	margin-top: 100px;
}
.benefit-title {
	text-align: center;
	font-size: $font-title;
	font-family: $font-primary;
	font-weight: $regular;
	color: $text-title;
	text-transform: uppercase;
}