.svg-contact {
	width: 75px;
	height: 50px;
}
.icon-mail {
	background-image: url("../img/mail.svg");
}
.icon-phone {
	background-image: url("../img/phone-contact.svg");
}
.icon-place {
	background-image: url("../img/place-contact.svg");
}