.doors-container {
	background-color: #ffffff;
}
.img-pvs {
	background-image: url("../img/doors-pvs.jpg");
}
.img-alum {
	background-image: url("../img/doors-alum.jpg");
}
.img-metal {
	background-image: url("../img/doors-metal.jpg");
}