/*-----Header-----*/
.header {
  background-color: $primary-color;
  border-bottom: 1px solid $line-header;
  /* position: fixed;*/
}
.header-logo {
  float: left;
  padding: 22px 0 22px 0;
}
.header-logo--link {
  display: block;
  width: 220px;
  height: 30px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  /* border-right: 1px solid $line-header;*/
}
.logo-link--text {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  top: auto;
  width: 1px;
}
.header-info {
  float: left;
  padding: 20px 0 20px 20px;
  color: #b3cdfa;
  font-size: 14px;
}
.header-info--city,.header-info--phone {
  display: block;
}
.header-info--phone {
  padding-top: 5px;
}
/* Menu*/
.header-menu {
  float: right;
  margin-right: 20px;
}
.navbar-item--product {
  display: inline-block;
  padding: 0 15px;
    &:hover {border-bottom: 3px solid $green;}
  height: 74px;
}
.navbar-item--link {
  font-family: $font-primary;
  font-weight: $bold;
  letter-spacing: 0.025em;
  font-size: 14px;   
  color: #fff;
  line-height: 72px;
    &:hover { color: $white-hidden;}
}
/* Button top*/
.btn-top {
  color: #fff;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 40px;
  bottom: 20px;
  padding: 5px 10px;
  background-color: $green;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
   display: none;
}
/* Button menu*/
.header-btn {
  float: right;
  padding: 12px 14px;
  background-color: $buttons-color;
    &:hover {background-color: $hover-btn;}
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-top: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 1px 2px 0 rgba(0,0,0,.24);
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 1px 2px 0 rgba(0,0,0,.24);
}
.header-btn--link {
  color: #fff;
  font-family: $font-primary;
  font-weight: $bold;
  font-size: 14px;
}
/*Toggle*/
.header-menu--toggle {
  display: none;
  width: 22px;
  height: 14px;
  position: relative;
  cursor: pointer;
  .menu-toggle--icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0px;
    background-color: #fff;
  }
}
.menu-toggle--icon {
  &:nth-child(1) {
    top: 0px;}
}
.menu-toggle--icon {
  &:nth-child(2) {
    top: 6px;}
}
.menu-toggle--icon {
  &:nth-child(3) {
    top: 12px;}
}
/*-----Mobile header-----*/
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-block {
     margin-right: 10px;
  }
  .menu-list--item {
     padding: 0 10px;
  }
  .info-block {
     padding: 20px 0 20px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo-block--link {
     width: 178px;
     height: 27px;
     border-right: none;
  }
  .info-block {
     float: left;
     padding: 20px 0 20px 7px;
     color: #fff;
     span {
        font-weight: $thin;
        font-size: 12px;
      }
  }
  .menu-block {
     margin-right: 5px;
  }
  .menu-list--item {
     padding: 0 3px;
    }
  .menu-item--link {
     font-weight: $bold;
     font-size: 14px;    
     text-transform: capitalize;
     line-height: 68px;
  }
  .btn-block {
     padding: 10px 12px;
  }
  .btn-block--link {
     font-weight: $regular;
     font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .btn-block,.info-block {
     display: none;
  }
  .menu-nav--list {
    position: fixed;
    top: 66px;
    left: 100px;
    right: 0px;
    display: none;
  }
  .menu-item--link {
    line-height: 30px;
  }
  .menu-list--item {
    display: block;
    background-color: $primary-color;
    padding: 10px;
    border-bottom: 1px solid #fff;
    height: 50px;
  }
  .menu-block--toggle {
    display: block;
  }
  .menu-block {
      padding: 25px 0;
      float: right;
  }
  .logo-block {
    padding: 18px 0;
  }
}
@media screen and (max-width: 480px) {
  .btn-block,.info-block {
      display: none;
  }
  .menu-nav--list {
    position: fixed;
    top: 66px;
    left: 100px;
    right: 0px;
    display: none;
  }
  .menu-item--link {
    line-height: 30px;
  }
  .menu-list--item {
    display: block;
    background-color: $primary-color;
    padding: 10px;
    border-bottom: 1px solid #fff;
    height: 50px;
  }
  .menu-block--toggle {
    display: block;
  }
  .menu-block {
      padding: 25px 0;
      float: right;
  }
  .logo-block {
    padding: 18px 0;
  }
}
