/*-----Header-----*/
.header-container {
   background-color: $primary-color;
}
.header {
  padding: 1.125em 0;
  border-bottom: 1px solid $line-header;
}
.navbar-wrapper {
  overflow: hidden;
  position: relative;
}
.header-logo {
  float: left;
  margin-right: 10px;
}
.header-logo--link {
  display: block;
  width: 220px;
  height: 40px;
  background-image: url("../img/logo-2.svg");
  background-repeat: no-repeat;
}
.header-info {
  float: left;
  color: #b3cdfa;
  font-size: $font-mini;
  line-height: 20px;
}
.header-info--city,.header-info--phone {
  display: block;
}
/* Menu*/
.header-nav {
  float: right;
}
.navbar-list--item {
  line-height: 39px;
  display: inline-block;
  padding: 0 10px;
    /* &:hover {border-bottom: 3px solid $green;}*/
}
.navbar-list--link {
  font-family: $font-primary;
  font-weight: $semibold;
  font-size: $font-mini;   
  color: #fff;
    &:hover { color: $white-hidden;}
}
/*Navbar-mobile*/
.header-mobile {
    position: relative;
    display: none;
    border-bottom: 1px solid $line-header;
    color: $white-hidden;
    font-size: $font-mini;
}
.phone-one {
  float: left;
  padding: 10px 0;
}
.phone-two {
  float: right;
  padding: 10px 0;
}
.mobile-icon {
  position: absolute;
  background-image: url("../img/phone.svg");
  width: 50px;
  height: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -10px;
}
/* Button top*/
.btn-top {
  color: #fff;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 40px;
  bottom: 20px;
  padding: 5px 10px;
  background-color: $green;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
   display: none;
}
/* Button menu*/
.header-btn {
  float: right;
  padding: 12px 14px;
  background-color: $buttons-color;
    &:hover {background-color: $hover-btn;}
  -webkit-border-radius: 5px;
          border-radius: 5px;
  /* margin-top: 17px;*/
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 1px 2px 0 rgba(0,0,0,.24);
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 1px 2px 0 rgba(0,0,0,.24);
}
.btn--link {
  color: #fff;
  font-family: $font-primary;
  font-weight: $semibold;
  font-size: $font-mini;
}
.navbar-row {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
}
/*Toggle*/
.navbar-toggle {
  display: none;
  width: 30px;
  height: 14px;
  position: relative;
  cursor: pointer;
  .navbar-toggle--icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0px;
    background-color: #fff;
  }
}
.navbar-toggle--icon {
  &:nth-child(1) {
    top: 0px;}
}
.navbar-toggle--icon {
  &:nth-child(2) {
    top: 6px;}
}
.navbar-toggle--icon {
  &:nth-child(3) {
    top: 12px;}
}
/*-----Mobile header-----*/

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-list {
    display: none;
  } 
  .header-btn {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-btn,.navbar-list {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .header {
  padding: 0.75em 0;
}
  .header-btn,.header-info,.navbar-list {
     display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .header-mobile {
    display: block;
  }
}
