.windows-container {
	background-color: #ffffff;
}
.img-standart {
	background-image: url("../img/foto-58(380-450).jpg");
	margin-bottom: 0;
}
.img-optima {
	background-image: url("../img/foto-70(380-450).jpg");
	margin-bottom: 0;
}
.img-premium {
	background-image: url("../img/foto-88(380-450).jpg");
	margin-bottom: 0;
}
.table-container {
	width: 100%;
	border-collapse: collapse;
}
td {
	color: $text-content;
	padding: 20px 0 20px 30px;
	border-bottom: 1px solid #f5f5f6;
}