.windows-container {
	background-color: #ffffff;
}
.img-standart {
	background-image: url("../img/foto-58(380-450).jpg");
}
.img-optima {
	background-image: url("../img/foto-70(380-450).jpg");
}
.img-premium {
	background-image: url("../img/foto-88(380-450).jpg");
}