$primary-color: #3871d3; 
$line-header: #3268c3;
$windows-block: #85aae9;
$buttons-color: #e64a1a; 
$hover-btn: #ff9574;
$green: #4acc8e;
$hover-green: #71deaa;
$white-hidden: #e6e6e6; 
$text-title: #333c4e; 
$text-content: #6b707b; 
$benefit-table: #f6f8fb;

$font-mini: 14px; 
$font-action: 48px; 
$font-sec-action: 40px; 
$font-title: 36px;
$font-title-sec: 22px;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=cyrillic');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');*/
$font-primary: "Montserrat", "Open Sans", sans-serif;
$font-sec: "Roboto", "Open Sans", sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$hevy: 900;



